<!DOCTYPE HTML>

<html>
	<head>
		<title>
            
                 Statement
		    
        </title>
	</head>

	<body>
        <h1>Test</h1>
        <p>{&#x27;Transaction1&#x27;: {&#x27;date&#x27;: &#x27;2022-09-09T09:41:57.867838Z&#x27;, &#x27;amount&#x27;: 0, &#x27;description&#x27;: &#x27;blublu&#x27;, &#x27;running_balance&#x27;: &#x27;0.00&#x27;, &#x27;transaction_type&#x27;: &#x27;credit&#x27;}, &#x27;Transaction2&#x27;: {&#x27;date&#x27;: &#x27;2022-09-09T09:41:57.867838ZZ&#x27;, &#x27;amount&#x27;: 0, &#x27;description&#x27;: &#x27;trans2&#x27;, &#x27;running_balance&#x27;: &#x27;0.00&#x27;, &#x27;transaction_type&#x27;: &#x27;credit&#x27;}, &#x27;Transaction3&#x27;: {&#x27;date&#x27;: &#x27;2022-09-09T09:41:57.867838ZZ&#x27;, &#x27;amount&#x27;: 0, &#x27;description&#x27;: &#x27;trans3&#x27;, &#x27;running_balance&#x27;: &#x27;0.00&#x27;, &#x27;transaction_type&#x27;: &#x27;credit&#x27;}}</p>
	</body>
		
</html>
